*.swp
*.hi
*.o
Entrega_01/LexBrainiac.hs
Entrega_01/LexBrainiacTest
Entrega_02/LexBrainiac.hs
Entrega_02/SinBrainiac.hs
Entrega_02/SinBrainiacTest
Entrega_03/LexBrainiac.hs
Entrega_03/SinBrainiac.hs
Entrega_03/ContBrainiacTest
