*.swp
*.hi
*.o
Entrega_01/LexBrainiac.hs
Entrega_01/LexBrainiacTest

Entrega_02/LexBrainiac.hs
Entrega_02/SinBrainiac.hs
Entrega_02/SinBrainiacTest

Entrega_03/LexBrainiac.hs
Entrega_03/SinBrainiac.hs
Entrega_03/ContBrainiacTest

Entrega_04/LexBrainiac.hs
Entrega_04/SinBrainiac.hs
Entrega_04/BrainiacTest

Entrega_05/LexBrainiac.hs
Entrega_05/SinBrainiac.hs
Entrega_04/LexBrainiacTest
Entrega_04/SinBrainiacTest
Entrega_04/ContBrainiacTest
Entrega_04/BrainiacTest
